<h1>All the Cats!</h1>

<% @cats.each do |cat| %>
  <ul>
    <li><a href="<%= cat_url(cat.id) %>"><%= cat.name%></a></li>
  </ul>
<% end %>

<br>

<h3><a href="<%= new_cat_url %>">Add a New Cat</a></h3>
<h3><a href="../cat_rental_requests/new">Request a Cat Rental</a></h3>