<h1>Create a Cat!</h1>

<form action="<<%= cats_url %>" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]">
  
  <br>

  <label for="birth_date">Birth Date</label>
  <input id="birth_date" type="date" name="cat[birth_date]">

  <br>

  <input id="male" type="radio" name="cat[sex]" value="M">
  <label for="male">Male</label>
  <input id="female" type="radio" name="cat[sex]" value="F">
  <label for="female">Female</label>

  <br>

  <label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option disabled selected>-- Please Select --</option>
        <% Cat::COLORS.each do |color| %>
            <option value="<%= color %>"><%= color.capitalize %></option>
        <% end %>
  </select>

  <br>

  <label for="description">Description</label>
  <textarea id="description" name="cat[description]"></textarea>

  <br>
  <br>

  <input type="submit" value="Create this cat!">
</form>